<!DOCTYPE html>
<html>
  <head>
    <title>Real Estate</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">    
	

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul>
          <li><a class="navbar-brand" href="#"><img src="/assets/aglogo1.svg"></a></li>
           <li>ABOUT US</li><p>
           <li>PORTFOLIO</li><p>
           <li>CONTACT US</li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
